<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alec.positive_eating">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Customer App-specific permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- The Launcher -->
        <activity android:name=".Launch_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
</activity>
        <!-- The networking service, ShaneConnect -->
        <service
            android:name=".ShaneConnectService"
            android:enabled="true"
            android:exported="false" />
        <!-- The Employee App -->
        <activity android:name=".Employee_LoginWindow"
            android:screenOrientation="portrait"/>
        <activity android:name=".Employee_MainScreen" />
        <activity android:name=".Employee_OrderStatus" />
        <activity android:name=".Employee_Menu" />
        <activity android:name=".Employee_Seating" />
        <activity android:name=".Employee_Schedule" />
        <activity android:name=".Employee_EditStaff" />
        <activity android:name=".Employee_Payroll" />
        <activity android:name=".Employee_add_employee" />
        <activity android:name=".Employee_Clocking_in" />
        <!-- The Table functionality -->
        <activity
            android:name=".order_menu"
            android:label="@string/title_activity_order_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".tableMap" />
        <activity android:name=".viewTableMap" />
        <activity android:name=".Employee_Edit_menu" />
        <!-- The Customer App -->
        <activity android:name=".CustomerMap" />
        <activity android:name=".CustomerLoginActivity" />
        <activity android:name=".CustomerEntreeList" />
        <activity android:name=".CustomerMainMenu" />
        <activity android:name=".CustomerSidesList" />
        <activity android:name=".CustomerOrderMenu" />
        <activity android:name=".CustomerSignUp" />
        <activity android:name=".CustomerReservations" />
    </application>

</manifest>